
body {
font-family: 'Montserrat', sans-serif;
}


h1 {
  text-align: center; 
}

h3 {
  text-align: center; 
}

.sideHead{ 
  text-align: center;
}

#sidebar {
    margin-left: 0;
    min-width: 280px;
}


.container {
  margin: 15px;
  text-align: center; 
}


.profile-image {
  margin: auto;  

} 

.about, .contact {
  text-align: left; 
}



@media only screen and (min-width: 576px) {
  
  .about {
    max-width: 200px;
    margin: 0;
  }

    .fixed {
        position: fixed;
        left: 0;
        max-width: 280px;
        margin: 20px;
    }

    #sidebar {
        max-width: 280px;
    }
}

