body {
	font-family: 'Montserrat', sans-serif;
}
h3, {
	margin-top: 15px;
}
h1 {
	font-size: 3.1em;
	letter-spacing: .04em;
	line-height: 1.1em;
	margin-top: 5px;
}
.profile {
	text-align: center;
}
img.img-circle {
	border-radius: 50%;
}
h2.pTitle {
	margin: 15px auto;
}
.container {
	padding-top: 50px;
	border: 2px solid #eee;
}
i {
	color: black;
	font-size: 3em;
}
.contact {
	text-align: center;
	margin-top: 65px;
}
#projects {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 5%;
}
#about {
	padding-left: 5%;
}
#title {
	border-bottom: 2px solid #eee;
}
#pTitle {
	border-bottom: 2px solid #eee;
	padding-top: 32px;
}
#aboutInfo {
	margin-top: 15px;
}
.tech {
	margin: 35px;
}
.user {
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.user-projects {
	border-bottom: 2px solid #eee;
}
.user-projects img {
	margin-top: 15px;
	margin-bottom: 20px;
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}
.user-projects h5 {
	margin: 0;
}
.user-projects li {
	color: #1a222c;
	font-size: 1.1rem;
}
.user-projects p {
	margin-right: 5px;
}
.contents {
	margin-top: 15px;
	margin-bottom: 20px
}
.nav li {
	display: inline;
}
.navbar-brand {
	text-align: center;
}
@media only screen and (max-width: 768px) {
	h1, h2, .profile {
		text-align: center;
	}
}
@media only screen and (min-width: 550px) {
	.contents {
		margin-left: 0;
		width: 49%;
	}
}
@media only screen and (min-width: 550px) {
	.contents-right {
		float: right;
		width: 49%;
	}
}
@media only screen and (min-width: 550px) {
	.images-right {
		float: right;
		width: 49%;
	}
}
@media only screen and (min-width: 550px) {
	.images-right img {
		float: right;
	}
}
@media only screen and (min-width: 550px) {
	.images-left {
		float: left;
		width: 49%;
	}
}
@media only screen and (min-width: 550px) {
	.images-left img {
		float: left;
	}
}
.project-link {
	display: inline-block;
	width: 107px;
	margin: 10px 0px;
	padding: 5px;
	color: #1a222c;
	background-color: transparent;
	border: 1px solid #1a222c;
	border-radius: 10px;
	text-align: center;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
}
.project-link:hover {
	text-decoration: none;
	background-color: #54516A;
	border-color: #54516A;
	color: #fff;
	transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;
}
.project-link:active {
	background-color: #54516A;
	border-color: #54516A;
	color: #fff;
	transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;
}

   
